%section

	%a{:href => "#", :title => "View our sample menu"}

		.wrap_txt-menu.wrap_svg

			%h4.visuallyhidden Sample Menu

			%svg.txt_menu{:viewBox => "0 0 60 60"}
				%use{"xlink:href" => "#txt_menu"}