%footer

	.wrap_misc-flags.wrap_svg

		%svg.misc_flags{:viewBox => "0 0 75 35"}
			%use{"xlink:href" => "#misc_flags"}

	.social_links

		%a.wrap_social-twitter.wrap_svg{:href => "https://twitter.com/datsunelgin", :target => "_blank", :title => "Follow us on Twitter"}

			%svg.social_twitter{:viewBox => "0 0 64 64"}
				%use{"xlink:href" => "#social_twitter"}

		%a.wrap_social-instagram.wrap_svg{:href => "https://instagram.com/datsunelgin/", :target => "_blank", :title => "See us on Instagram"}

			%svg.social_instagram{:viewBox => "0 0 64 64"}
				%use{"xlink:href" => "#social_instagram"}

	.wrap_txt-footer.wrap_svg

		%h5.visuallyhidden Walk-ins welcome / No reservations
		%address.visuallyhidden 380 Elgin St. Ottawa
		%a.visuallyhidden{:href => "tel:1-613-422-2800", :title => "Call us"} 613.422.2800

		%svg.txt_footer{:viewBox => "0 0 294 52"}
			%use{"xlink:href" => "#txt_footer"}

	%a.wrap_txt-inquiries.wrap_svg{:href => "mailto:inquiries@eatdatsun.com", :title => "Email us"}

		%h6.visuallyhidden General Inquiries

		%svg.txt_inquiries{:viewBox => "0 0 114 12"}
			%use{"xlink:href" => "#txt_inquiries"}