%header

	.datsun_logos

		.wrap_datsun-wordmark.wrap_svg

			%h1.visuallyhidden Datsun

			%svg.datsun_wordmark{:viewBox => "0 0 250 64"}
				%use{"xlink:href" => "#datsun_wordmark"}

		.wrap_datsun-tiger.wrap_svg

			%svg.datsun_tiger{:viewBox => "0 0 198 205"}
				%use{"xlink:href" => "#datsun_tiger"}

		.wrap_datsun-tagline.wrap_svg

			%h2.visuallyhidden "Asian Plates & Bar"

			%svg.datsun_tagline{:viewBox => "0 0 236 47"}
				%use{"xlink:href" => "#datsun_tagline"}

	.datsun_info

		.column_left

			.wrap_txt-window.wrap_svg

				%h3.visuallyhidden Window

				%svg.txt_window{:viewBox => "0 0 84 13"}
					%use{"xlink:href" => "#txt_window"}

			.wrap_txt-time-start.wrap_svg

				%h3.visuallyhidden Noon &ndash; 2:30 PM

				%svg.txt_time-start{:viewBox => "0 0 167 13"}
					%use{"xlink:href" => "#txt_time-start"}

			.wrap_txt-time-end.wrap_svg

				%h3.visuallyhidden 5:30 PM &ndash; Late

				%svg.txt_time-end{:viewBox => "0 0 157 13"}
					%use{"xlink:href" => "#txt_time-end"}

			.wrap_txt-closed.wrap_svg

				%h3.visuallyhidden Closed Sundays

				%svg.txt_clossed{:viewBox => "0 0 173 13"}
					%use{"xlink:href" => "#txt_closed"}

		.column_right

			.wrap_txt-dinner.wrap_svg

				%h3.visuallyhidden Dinner

				%svg.txt_dinner{:viewBox => "0 0 73 13"}
					%use{"xlink:href" => "#txt_dinner"}

			.wrap_txt-time-end.wrap_svg

				%h3.visuallyhidden 5:30 PM &ndash; Late

				%svg.txt_time-end{:viewBox => "0 0 157 13"}
					%use{"xlink:href" => "#txt_time-end"}

			.wrap_txt-closed.wrap_svg

				%h3.visuallyhidden Closed Sundays

				%svg.txt_clossed{:viewBox => "0 0 173 13"}
					%use{"xlink:href" => "#txt_closed"}