%header

	.datsun_logos

		.wrap_datsun-wordmark.wrap_svg

			%h1.visuallyhidden Datsun

			%svg.datsun_wordmark{:viewBox => "0 0 250 64"}
				%use{"xlink:href" => "#datsun_wordmark"}

		.wrap_datsun-tiger.wrap_svg

			%svg.datsun_tiger{:viewBox => "0 0 198 205"}
				%use{"xlink:href" => "#datsun_tiger"}

		.wrap_datsun-tagline.wrap_svg

			%h2.visuallyhidden "Asian Plates"

			%svg.datsun_tagline{:viewBox => "0 0 175 30"}
				%use{"xlink:href" => "#datsun_tagline"}

	.datsun_info

		.column_left

			.wrap_txt-window.wrap_svg

				%h3.visuallyhidden Window

				%svg.txt_window{:viewBox => "0 0 88 14"}
					%use{"xlink:href" => "#txt_window"}

			.wrap_txt-open.wrap_svg

				%h3.visuallyhidden 5:30 PM &ndash; Late

				%svg.txt_open{:viewBox => "0 0 157 14"}
					%use{"xlink:href" => "#txt_open"}

		.column_right

			.wrap_txt-dinner.wrap_svg

				%h3.visuallyhidden Dinner

				%svg.txt_dinner{:viewBox => "0 0 76 14"}
					%use{"xlink:href" => "#txt_dinner"}

			.wrap_txt-open.wrap_svg

				%h3.visuallyhidden 5:30 PM &ndash; Late

				%svg.txt_open{:viewBox => "0 0 157 14"}
					%use{"xlink:href" => "#txt_open"}

			.wrap_txt-closed.wrap_svg

				%h3.visuallyhidden Closed Mondays

				%svg.txt_clossed{:viewBox => "0 0 187 14"}
					%use{"xlink:href" => "#txt_closed"}